header {
    border-bottom: 2px solid #cccccc;
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 32px;
    padding-top: 32px;
    padding-bottom: 32px;
    color: #010102;
}

header .container nav {
    display: flex;
    justify-content: flex-end;
    gap: 16px;
}
header .container nav a:hover {
    color: #ff6347; 

}

.logo-crearte{
    width: 100px;
    height: 100px;
}
.logo-crearte:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease;
}

@media (max-width: 850px) {
    header .container {
        flex-direction: column;
    }
}

@media (max-width: 550px) {
    header .container nav {
        flex-direction: column;
        text-align: center;
    }
}
