footer {
    background-color: #f8730d;
    color: black;
    
}

footer .container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    padding-top: 40px;
}

footer .container .top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

footer .column {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 600px;
    gap: 16px;
    margin: 20px;
}
.column p{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: 1.5;
    font-size: 16px;
}
footer a {
    display: block;
}
.column p a img {
    width: 32px;
    height: 32px;
    border-radius: 30px;
}
.column p a img:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease;
    background-color: #ff9900;
    border-radius: 5px;
}
footer .bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 32px;
}

footer .bottom nav {
    display: flex;
    gap: 12px;
}
.social a img {
    width: 22px;
    height: 22px;
}
.social a img:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease;
    background-color: #ff9900;
    border-radius: 5px;
}

.redes {
    display: flex;
    flex-direction: row;
    
    align-items: center;
    gap: 16px;

}
.redes p{
    margin: 10px;
}

.beneficios {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}
.beneficios-list{
    display: flex;
    flex-direction: row;
}
.beneficios-list div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 8px;
    margin: 0 16px;
}
.beneficios-list div strong {
    text-align: center;
    font-size: 14px;
    line-height: 1.5;
}
.beneficios-list div img{
    width: 50px;
    height: 50px;
    
}
.quienes-somos p {
    text-align: center;
    line-height: 1.5;
    font-size: 16px;

}

footer .bottom a {
    
    color: black;
    padding: 10px 16px;
    border-radius: 24px;
}

@media (max-width: 900px) {
    footer .container .top {
        flex-direction: column;
        align-items: center;
    }
    footer .container .top .column {
        max-width: 100%;
    }
    footer .bottom {
        flex-direction: column;
        align-items: center;
    }
    footer .bottom nav {
        flex-direction: column;
        align-items: center;
    }
}

